# apps/medusa (commerce-only)
NODE_ENV=development
DATABASE_URL=
REDIS_URL=redis://localhost:6379

STORE_CORS=http://localhost:3000
ADMIN_CORS=http://localhost:7000
AUTH_CORS=http://localhost:3000,http://localhost:7000

JWT_SECRET=replace-with-jwt-secret
COOKIE_SECRET=replace-with-cookie-secret

MEDUSA_BACKEND_URL=http://localhost:9000
DISABLE_MEDUSA_ADMIN=true

# test runner convenience
TEST_TYPE=unit
